:root {
    --main-bg-color: #787974;
    --main-color-1: #7CD7FF;
    --main-color-2: #F6F5AE;
    --main-color-3: #D4E09B;
    --main-color-4: #F24236;
}

html {
    font-size: calc( 10px + (18 - 10) * ( (100vw - 400px) / ( 1920 - 400) ));
}

/* Modules will scale with document */
#navTop {
    font-size: 1.1rem;
}

.footer {
    font-size: 0.75rem;
}

.sidebar {
    font-size: 0.85rem;
}

.card {
    font-size: 1.25rem;
}

nav {
    font-size: 1.5rem;
}

/* Type will scale with modules */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.0em;
}

a {
    font-size: 0.85em;
}

.nav-link {
    font-size: 1.25em;
}

#navTop {
    font-size: 0.75rem;
}

body {
    padding-top: .15rem;
    font-weight: 400;
}

#contactForm {
    background-color: var(--main-color-3);
}

.body-content {
    margin-top: 20px;
    /*  background-color: var(--main-color-1); */
    font-weight: 400;
}

.panel {
    height: auto;
}

.socialbutton {
    border: 2px solid black;
    text-align: center;
    min-width: 20rem;
    width: 100%;
    margin-bottom: .25rem;
}

#navSide .nav-link {
    width: 100%;
}

.nav-link {
    /* width: 12rem; */
}

.card {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    border: solid 2px black;
}

.card-body ul > li {
    margin-bottom: 5px;
}

.main-card-header {
    background-color: var(--main-color-3);
}

.main-card-subheader {
    background-color: var(--main-color-2);
}

#favorites a:link {
    color: #0000ff;
}

#favorites a:visited {
    color: #0000ff;
}

#favorites a:hover {
    font-size: 150%;
}

i {
    color: var(--main-color-1);
    background-color: var(--main-color-3);
}

.pe-card-group {
    background-color: var(--main-color-2);
    padding-left: 2rem;
}

.projectheader {
    background-color: var(--main-color-3);
}

.projectfeatures {
    background-color: var(--main-color-2);
}

.shadowtext {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.shadowtext-inverse {
    color: var(--success);
    text-shadow: 2px 2px 4px #000000;
}

.shadowbox {
    -webkit-box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
    -moz-box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
    box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
}

.btn {
    margin-right: 1rem;
    background-color: var(--main-color-1);
    color: black;
    border: 2px solid black;
    width: 13rem;
    margin-bottom: .25rem;
}

iframe {
    display: none;
}


label {
    font-weight: 500;
}

#navSide > .active {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

#pills-tab > .active {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

.marquee {
    height: 1.75rem;
    overflow: hidden;
    position: relative;
}

    .marquee h4 {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 1.5rem;
        text-align: center;
        /* Starting position */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        /* Apply animation to this element */
        -moz-animation: scroll-left 15s ease-out infinite;
        -webkit-animation: scroll-left 15s ease-out infinite;
        animation: scroll-left 15s ease-out;
    }
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
