<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Richard Turnmire</title>

    @*<script>
            function resizeIframe(obj) {
                obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
            }
        </script>*@
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/MyCSS.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/MyCSS.css" />
    </environment>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
   
</head>
<body>
    <div class="container-fluid body-content mt-0">
        <div class="container sticky-top p-0 c">
            <nav class="navbar navbar-expand-md navbar-light bg-info  m-0">

                <a asp-page="/Index" class="navbar-brand">
                    <h2>Richard Turnmire </h2>
                    <h4>Software Developer for Hire</h4>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="fas fa-bars fa-3x"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarList">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active text-xl-center"><a class="nav-link" asp-page="/Index">Home</a></li>
                        <li class="nav-item text-xl-center"><a class="nav-link" asp-page="/About">About</a></li>
                        <li class="nav-item text-xl-center"><a class="nav-link" asp-page="/Resume">Resume</a></li>
                        <li class="nav-item text-xl-center"><a class="nav-link" asp-page="/Contact">Contact</a></li>
                        <li class="nav-item text-xl-center"><a class="nav-link" asp-page="/Projects">Projects</a></li> 
                        @*<li class="nav-item text-xl-center"><a class="nav-link" asp-page="/PDFDisplay">PDF Display</a></li>*@
                    </ul>
                </div>
            </nav>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Richard Turnmire</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                crossorigin="anonymous"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
        >
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
               >
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                crossorigin="anonymous"
                >
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
               >
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
