@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
} 
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>

    <address>
        Louisville, KY 40245<br />
        <abbr title="Phone">P:</abbr>
        502.417.3849
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:richard@richardturnmire.com">richard@richardturnmire.com</a><br />
    </address>
</div>
