@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="~/images/Profile.jpg" alt="Picture of Richard Turnmire" class="img-fluid img-thumbnail" width="300px" />
        </div>
        <div class="col-5">

        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <p>Website: <a>www.richardturnmire.com</a></p>
                    <p>Cell: 502-417-3849</p>
                    <p>Email: richard@richardturnmire.com</p>
                </div>

                <div class="card-footer">
                    <p>Social Links</p>
                    <div class="row">
                        <div class="col-md-3 socialbutton" style="height:75px">
                            <a href="http://www.linkedin.com/in/richardturnmire">
                                <img src="images/In-2C-48px-TM.png" alt="Richard's LinkedIn profile" class="img-fluid">
                            </a>

                        </div>
                        <div class="col-md-3 socialbutton" style="height:75px">
                            <a href="https://twitter.com/richardturnmire?ref_src=twsrc%5Etfw">
                                <img src="images/Twitter_Social_Icon_Square_Color.png" alt="Richard's Twitter profile" class="img-fluid" style="height:48px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>