@page
@model HomePage3.Pages.PDFDisplayModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container embed-responsive embed-responsive-1by1 ">
     
        <iframe class="embed-responsive-item" src="https://onedrive.live.com/embed?cid=04F4F6FC0557B563&resid=4F4F6FC0557B563%21409557&authkey=ABbJe3hen-hV2xc&em=2" frameborder="0" scrolling="no" ></iframe>
  
</div>
