@page
@model HomePage3.Pages.ProjectsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@   
<div class="container mt-3">
    <div class="card row mb-4">
        <div class="card-header">
            <div class="card-title"><h2>Home Page Project</h2></div>   
            <div class="card-subtitle"><h4>Information for this website</h4></div>
        </div>
        <div class="card-body">
            <div class="card-text">
                This website was developed using ASP.Net Core 2.
                
                Although the Visual Studio template is based on Bootstrap 3, I converted
                it over to Bootstrap 4 Beta 2.
            </div>
        </div>
        <div class="card-footer">
            <div class="card-link">
                <a href="https://github.com/richardturnmire/HomePage3">Source on GitHub</a>
            </div>
        </div>
    </div>

    <div class="card row mb-4">
        <div class="card-header">
            <div class="card-title"><h2>GuildQuest Project</h2></div>   
            <div class="card-subtitle"><h4>Car dealership project</h4></div>
        </div>
        <div class="card-body">
            <div class="card-text">
                This website is based on a project that I worked on while attending The Software Guild's
                May 2017 .Net cohort.  The original project was developed using .Net 4.5.2 and Bootstrap 3.
                
                The current project is using .Net 4.7.1 and Bootstrap 4 beta 2.
                
                The project is still a work in progress.
                
            </div>
        </div>
        <div class="card-footer">
            <div class="card-link">
                <a href="https://github.com/richardturnmire/GuildQuest">Source on GitHub</a>
            </div>
        </div>
    </div>
</div>
