@page
@model HomePage3.Pages.ResumeModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="resume" class="container  mt-3" >
    <div id="resumelinks" class="card mb-2 py-1 px-2">
                    <div class="row">
                        <div class="col-md">
                            <div class="col-form-label">Links</div>
                            <span title="Link to Richard's LinkedIn profile">
                                <a href="http://www.linkedin.com/in/richardturnmire" alt="Link to Richard's LinkedIn profile">
                                    <i class="fab fa-linkedin fa-2x"></i>
                                </a>
                            </span>
                            <span title="Link to Richard's GitHub repository">
                                <a href="http://www.github.com/richardturnmire" alt="Link to downloadable Richard's GitHub repository">
                                    <i class="fab fa-github-alt fa-2x"></i>
                                </a>
                            </span>
                            <span title="Richard's phone number">
                                <a href="tel:+15024173849" alt="Link to Richard's phone number">
                                    <i class="fas fa-phone fa-2x"></i>
                                </a>
                            </span>
                            <span title="Open email client to send message to Richard">
                                <a href="mailto:richard@richarturnmire.com" target="_top" alt="Link to create email to send to Richard" aria-describedby="Link to create email to send to Richard">
                                    <span class="fas fa-envelope fa-2x" alt="Link to create email to send to Richard"></span>
                                </a>
                            </span>
                        </div>
                        <div class="col-md">
                            <div class="col-form-label">Software developer resume</div>
                            <span title="PDF Version of Richard's software developer resume">
                                <a href="https://drive.google.com/open?id=12YQcCz7pA0Jpyd6GzWdk_4xotySPdJBd"
                                   alt="Link to downloadable PDF resume">
                                    <i class="fas fa-file-pdf fa-2x"></i>
                                </a>
                            </span>
                            <span title="Microsoft Word version of Richard's software developer resume">
                                <a href="https://drive.google.com/open?id=1QMOi34cnxZ6_v17JHAX0zcQmyGJyz1GK"
                                   alt="Link to downloadable Microsoft Word resume">
                                    <i class="fas fa-file-word fa-2x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                
    </div>
    <div id="skillsSection" class="card mb-2">
        <div class="card-header font-weight-bold main-card-header">
            <div class="mx-auto text-center shadowtext"><h3>Skills</h3></div>
        </div>

        <div class="card-body mx-1 px-1 mb-2">
            <div class="card ">
                <div class="card-header font-weight-bold main-card-subheader">
                    <div class="mx-auto   text-center ">Software Development Skills</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">C#</div>
                        <div class="col-md-4">ASP.NET MVC</div>
                        <div class="col-md-4">ASP.NET WebAPI</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">HTML5</div>
                        <div class="col-md-4">CSS3</div>
                        <div class="col-md-4">JavaScript </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">jQuery</div>
                        <div class="col-md-4">JSON</div>
                        <div class="col-md-4">XML </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">ADO.Net</div>
                        <div class="col-md-4">Entity Framework</div>
                        <div class="col-md-4">SQL Server</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">VB.Net</div>
                        <div class="col-md-4">LINQ</div>
                        <div class="col-md-4">NUnit / </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">WPF / XAML </div>
                        <div class="col-md-4">WCF</div>
                        <div class="col-md-4">Visual Studio</div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-6">Bootstrap Framework (3/4)</div>
                        <div class="col-md-6">GIT (GitHub / Bitbucket)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">REST using Web API</div>
                        <div class="col-md-6">Test Driven Development (TDD)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Object Oriented Programming (OOP) </div>
                        <div class="col-md-6">Version Control</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Common Architecture Patterns Data</div>
                        <div class="col-md-6">Class Modeling</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Debugging Techniques</div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header font-weight-bold main-card-subheader">
                    <div class="mx-auto    text-center">Mainframe Skills</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">COBOL</div>
                        <div class="col-md-4">Easytrieve Plus </div>
                        <div class="col-md-4">CICS </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">REXX / CLIST</div>
                        <div class="col-md-4">VSAM</div>
                        <div class="col-md-4">IMS</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Xpediter</div>
                        <div class="col-md-4">z/OS</div>
                        <div class="col-md-4">TSO / ISPF</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">DB2</div>
                        <div class="col-md-4">JCL</div>
                        <div class="col-md-4">Changeman</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header font-weight-bold main-card-subheader">
                    <div class="mx-auto  bg-transparent text-center">Soft Skills</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">Requirement Gathering</div>
                        <div class="col-md-4">Troubleshooting</div>
                        <div class="col-md-4">Client Interaction</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Team Leadership</div>
                        <div class="col-md-4">Contributor</div>
                        <div class="col-md-4">Innovation</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-2">
        <div class="card-header font-weight-bold  main-card-header">
            <div class="mx-auto  bg-transparent text-center shadowtext"><h3>Professional Experience</h3></div>
        </div>
        <div class="card-body bg-light mt-0 mx-1 px-1">

            <div class="card mb-1">
                <div class="card-header">
                    <div class="row px-0 mx-0">
                        <div class="col-md-3     ">
                            <figure class="figure card-img">
                                <img class="figure-img img-fluid img-thumbnail" src="/images/TheSoftwareGuild.png" alt="The Software Guild logo" />
                            </figure>
                        </div>
                        <div class="col card-group pe-card-group" >
                            <div class="row w-100"><strong>The Software Guild</strong></div>
                            <div class="row w-100">Louisville, Ky</div>
                            <div class="row w-100">Junior Software Developer</div>
                            <div class="row w-100">May 2017 - Jul 2017</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Developed DVD Library application. Used HTML, CSS, JavaScript and Bootstrap for the front end. Back end was a Web API application using C# and Ninject. Supported 3 different data access types: In-memory, Entity Framework, and ADO.</li>
                        <li>Designed the SQL Server database schema for a Hotel Reservation system. Design consisted of 24 tables and 2 Entity-Relationship Diagrams.</li>
                        <li>Developed Vending Machine application using HTML, CSS, JavaScript and BootStrap. Application interacted with a web service.</li>
                        <li>Wrote an ASP.Net MVC student information system using C#, HTML, CSS., and BootStrap.</li>
                        <li>Developed a full stack Car Dealership application. Front end used HTML, JavaScript, jQuery, CSS, and Bootstrap. It featured an email interface and implemented the Google Map API. Back end was a C# ASP.Net MVC application using Entity Framework, ADO, and Web API.</li>
                        <li>Worked on a 4-person team to design BLOG application. I contributed the photo upload interface along with the tag cloud / search function.</li>
                        <li>Utilized Atlassian Tools (JIRA, Crucible, and Bitbucket) for version control and workflow management. Used Stack for team communication.</li>
                    </ul>
                </div>
            </div>

            <div class="card  mb-1">
                <div class="card-header">
                    <div class="row px-0 mx-0">
                        <div class=" col-md-3">
                            <figure class="figure card-img">
                                <img class="figure-img img-fluid img-thumbnail" src="/images/CEB.png" alt="SHL-CEB logo" />
                            </figure>
                        </div>
                        <div class="col card-group pe-card-group">
                            <div class="row w-100"><strong>SHL - CEB Talent Measurement Solutions</strong></div>
                            <div class="row w-100">Remote</div>
                            <div class="row w-100">Quality Assurance Specialist</div>
                            <div class="row w-100">Nov 2014 – Dec 2014</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Reviewed 100+ COBOL related questions for consistency, clarity and correctness. </li>
                        <li>Collaborated with other team members to resolve all issues. </li>
                        <li>Produced reports for management. </li>
                    </ul>
                </div>
            </div>

            <div class="card  mb-1">
                <div class="card-header">
                    <div class="row px-0 mx-0">
                        <div class=" col-md-3">
                            <figure class="figure card-img">
                                <img class="figure-img img-fluid img-thumbnail" src="/images/Regulus.png" alt="Regulus Group logo" />
                            </figure>
                        </div>
                        <div class="col card-group pe-card-group">
                            <div class="row w-100"><strong>Regulus Group II, LLC</strong></div>
                            <div class="row w-100">Louisville, KY</div>
                            <div class="row w-100">Senior Systems Analyst</div>
                            <div class="row w-100">Dec 2010 – Sep 2011</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Transferred knowledge on processing rules, unique requirements, and requirements.</li>
                        <li>Coached programmers taking over support of remittance customers staying with First Tennessee.</li>
                        <li>Created process flows using Microsoft Visio to document customers with complex requirements.</li>
                        <li>Developed decision table to document processing rules for Prudential Insurance.</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row px-0 mx-0">
                        <div class="col-md-3">
                            <figure class="figure card-img">
                                <img class="figure-img img-fluid img-thumbnail" src="~/images/FirstTennessee.png" alt="First Tennesse logo" />
                            </figure>
                        </div>
                        <div class="col card-group pe-card-group">
                            <card class="w-100"><strong>First Tennessee Bank, N.A.</strong></card>
                            <card class="w-100">Louisville, KY</card>
                            <card class="w-100">Senior Consulting Analyst</card>
                            <card class="w-100">May 2002 – Dec 2010</card>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Guided team of up to 6 developers in supporting the remittance operation. Provided manager with regular status reports and represented him during meetings. </li>
                        <li>Coordinated technical service needs (transmission setups, batch job scheduling, database) with proper areas. Participated in enterprise technology level projects involving both operating system and software upgrades.</li>
                        <li>Created VB.Net Win Form app to allow entry of name and address changes. App used simple SQL database to confirm city, state and zip code combinations.</li>

                        <li>Rewrote the app to use VB.Net and Silverlight to allow easier installation.</li>

                        <li>Created VB.Net Win Form app to watch various directories for new files. When detected, the app would process the new file and store the edited file into the upload directory.</li>

                        <li>Created separate VB.Net WPF app to send and receive files using a third party FTP component.</li>

                        <li>Replaced several standalone VB.Net Win Form/WPF apps with a VB.Net Silverlight app. The app enabled clerks to extract data from a SQL Server database and create an extract file. </li>

                        <li>Provided programming support for the remittance system using COBOL, Easytrieve and REXX programs.</li>
                        <li>Devised a solution to letter generation process. This saved 2.5 FTEs and generated over $100,000 in extra revenue. Wrote COBOL program to embed HP printer control commands and format text.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header font-weight-bold main-card-header">
            <div class="mx-auto  bg-transparent text-center shadowtext"><h3>Education</h3></div>
        </div>
        <div class="card-body bg-light mx-1 px-1 ">
            <div class="card">
                <div class="card-header">
                    <div class="row px-0 mx-0">
                        <div class="col-md-3">
                            <figure class="figure card-img">
                                <img class="figure-img img-fluid img-thumbnail" src="/images/wku.png" alt="Western Kentucky University logo" />
                            </figure>
                        </div>
                        <div class="col card-group pe-card-group">
                            <card class="w-100"><strong>Western Kentucky University</strong></card>
                            <card class="w-100">Bowling Green, KY</card>
                            <card class="w-100">Bachelor of Science</card>
                            <card class="w-100">Computer Science</card>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

