@page
@model HomePage3.Pages.ResumeModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container mt-3">
    <div class="row">
        <div class="card mb-4 col-12 container-odd">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col">
                            <img src="/images/Profile.jpg" alt="Picture of Richard Turnmire" class="img-fluid img-thumbnail" width="300" />
                        </div>

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-3 text-right">Email:</div>
                            <div class="col text-left">
                                <a href="mailto:richard@richarturnmire.com" target="_top">richard@richardturnmire.com</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">LinkedIn:</div>
                            <div class="col text-left">
                                <a href="http://www.linkedin.com/in/richardturnmire">www.linkedin.com/in/richardturnmire</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">GitHub:</div>
                            <div class="col text-left">
                                <a href="http://www.github.com/richardturnmire">www.github.com/richardturnmire</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">WebSite:</div>
                            <div class="col text-left">
                                <a href="http://www.richardturnmire.com">www.richardturnmire.com</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">Phone:</div>
                            <div class="col text-left">
                                <a href="tel:+15024173849">502-417-3849</a>
                            </div>
                        </div>
                        <hr class="mt-5" />
                        <div class="row">
                            <div class="col-6">Downloadable resumes</div>
                            <div class="col">
                                <a class="card-link" href="https://onedrive.live.com/?cid=04F4F6FC0557B563&id=4F4F6FC0557B563%21409557&parId=4F4F6FC0557B563%21162&o=OneUp">
                                    <img src="/images/PDF.png" alt="Link to downloadable PDF resume" class="img-fluid socialbutton">
                                </a>
                                <a class="card-link" href="https://onedrive.live.com/edit.aspx?cid=04f4f6fc0557b563&page=view&resid=4F4F6FC0557B563!412093&parId=4F4F6FC0557B563!162&app=Word">
                                    <img src="/images/Word.png" alt="Link to downloadable Word resume" class="img-fluid socialbutton">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="mx-auto mt-0 mb-4 container-banner">Skills</h1>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-even">
            <div class="card-header">

                <div class="card-title">
                    <h3> Software Development Skills</h3>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">C#</div>
                    <div class="col-4">ASP.NET MVC</div>
                    <div class="col-4"> HTML5 / CSS3 / JavaScript </div>
                </div>
                <div class="row">
                    <div class="col-4">jQuery</div>
                    <div class="col-4"> JSON</div>
                    <div class="col-4"> XML </div>
                </div>
                <div class="row">
                    <div class="col-4">ADO.Net</div>
                    <div class="col-4">Entity Framework</div>
                    <div class="col-4">SQL Server</div>
                </div>
                <div class="row">
                    <div class="col-4">VB.Net</div>
                    <div class="col-4"> LINQ</div>
                    <div class="col-4"> NUnit / </div>
                </div>
                <div class="row">
                    <div class="col-4">WPF / XAML </div>
                    <div class="col-4">WCF</div>
                    <div class="col-4"> Visual Studio</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-5 offset-1">Bootstrap Framework (3/4)</div>
                    <div class="col-6">GIT (GitHub / Bitbucket)</div>
                </div>
                <div class="row">
                    <div class="col-5 offset-1">REST using Web API</div>
                    <div class="col-6">Test Driven Development (TDD)</div>
                </div>
                <div class="row">
                    <div class="col-5 offset-1">Object Oriented Programming (OOP) </div>
                    <div class="col-6">Version Control</div>
                </div>
                <div class="row">
                    <div class="col-5 offset-1">Common Architecture Patterns Data</div>
                    <div class="col-6">Class Modeling</div>
                </div>
                <div class="row">
                    <div class="col-5 offset-1">Debugging Techniques</div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-odd">
            <div class="card-header">
                <div class="card-title">
                    <h3>Mainframe Skills</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">COBOL</div>
                    <div class="col-4">Easytrieve Plus </div>
                    <div class="col-4">CICS </div>
                </div>
                <div class="row">
                    <div class="col-4">REXX / CLIST</div>
                    <div class="col-4">VSAM</div>
                    <div class="col-4">IMS</div>
                </div>
                <div class="row">
                    <div class="col-4">Xpediter</div>
                    <div class="col-4">z/OS</div>
                    <div class="col-4">TSO / ISPF</div>
                </div>
                <div class="row">
                    <div class="col-4">DB2</div>
                    <div class="col-4">JCL</div>
                    <div class="col-4">Changeman</div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-even">
            <div class="card-header">

                <div class="card-title">
                    <h3>Soft Skills</h3>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">Requirement Gathering</div>
                    <div class="col-4">Troubleshooting</div>
                    <div class="col-4">Client Interaction</div>
                </div>
                <div class="row">
                    <div class="col-4">Team Leadership</div>
                    <div class="col-4">Contributor</div>
                    <div class="col-4">Innovation</div>
                </div>

            </div>
            
        </div>
    </div>
    <div class="row">
        <h1 class="mx-auto mt-0 mb-4 container-banner">Professional Experience</h1>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-even">
            <div class="card-header">
                <div class="row">
                    <div class="card-img col-3">
                        <img class="img-fluid" src="/images/TheSoftwareGuild.jpg" alt="The Software Guild logo" width="300" height="60" />
                    </div>
                    <div class="col">
                        <div class="card-title">
                            <h3>The Software Guild, Louisville, KY </h3>
                        </div>
                        <div class="card-subtitle">
                            <h4>Junior Software Developer, May 2017 – Jul 2017 </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul>
                    <li>Developed DVD Library application. Used HTML, CSS, JavaScript and Bootstrap for the front end. Back end was a Web API application using C# and Ninject. Supported 3 different data access types: In-memory, Entity Framework, and ADO.</li>
                    <li>Designed the SQL Server database schema for a Hotel Reservation system. Design consisted of 24 tables and 2 Entity-Relationship Diagrams.</li>
                    <li>Developed Vending Machine application using HTML, CSS, JavaScript and BootStrap. Application interacted with a web service.</li>
                    <li>Wrote an ASP.Net MVC student information system using C#, HTML, CSS., and BootStrap.</li>
                    <li>Developed a full stack Car Dealership application. Front end used HTML, JavaScript, jQuery, CSS, and Bootstrap. It featured an email interface and implemented the Google Map API. Back end was a C# ASP.Net MVC application using Entity Framework, ADO, and Web API.</li>
                    <li>Worked on a 4-person team to design BLOG application. I contributed the photo upload interface along with the tag cloud / search function.</li>
                    <li>Utilized Atlassian Tools (JIRA, Crucible, and Bitbucket) for version control and workflow management. Used Stack for team communication.</li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-odd">
            <div class="card-header">
                <div class="row">
                    <div class="card-img col-3">
                        <img class="img-fluid" src="/images/CEB.png" alt="SHL-CEB logo" width="300" height="60" />
                    </div>
                    <div class="col">
                        <div class="card-title">
                            <h3>SHL - CEB Talent Measurement Solutions, Remote</h3>
                        </div>
                        <div class="card-subtitle">
                            <h4>Quality Assurance Specialist, Nov 2014 – Dec 2014</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul>
                    <li>Reviewed 100+ COBOL related questions for consistency, clarity and correctness. </li>
                    <li>Collaborated with other team members to resolve all issues. </li>
                    <li>Produced reports for management. </li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-even">
            <div class="card-header">
                <div class="row">
                    <div class="card-img col-3">
                        <img class="img-fluid" src="/images/RegulusGroup.png" alt="Regulus Group logo" width="300" height="60" />
                    </div>
                    <div class="col">
                        <div class="card-title">
                            <h3>Regulus Group II, LLC, Louisville, KY</h3>
                        </div>
                        <div class="card-subtitle">
                            <h4>Senior Systems Analyst, Dec 2010 – Sep 2011</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul>
                    <li>Transferred knowledge on processing rules, unique requirements, and requirements.</li>
                    <li>Coached programmers taking over support of remittance customers staying with First Tennessee.</li>
                    <li>Created process flows using Microsoft Visio to document customers with complex requirements.</li>
                    <li>Developed decision table to document processing rules for Prudential Insurance.</li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-odd">
            <div class="card-header">
                <div class="row">
                    <div class="card-img col-3">
                        <img class="img-fluid" src="/images/logo_firsttennesseebank.png" alt="First Tennesse logo" width="300" height="60" />
                    </div>
                    <div class="col">
                        <div class="card-title">
                            <h3>First Tennessee Bank, N.A., Louisville, KY</h3>
                        </div>
                        <div class="card-subtitle">
                            <h4>Senior Consulting Analyst, May 2002 – Dec 2010</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul>
                    <li>Guided team of up to 6 developers in supporting the remittance operation. Provided manager with regular status reports and represented him during meetings. </li>
                    <li>Coordinated technical service needs (transmission setups, batch job scheduling, database) with proper areas. Participated in enterprise technology level projects involving both operating system and software upgrades.</li>
                    <li>Created VB.Net Win Form app to allow entry of name and address changes. App used simple SQL database to confirm city, state and zip code combinations.</li>

                    <li>I rewrote the app to use VB.Net and Silverlight to allow easier installation.</li>

                    <li>Created VB.Net Win Form app to watch various directories for new files. When detected, the app would process the new file and store the edited file into the upload directory.</li>

                    <li>Created separate VB.Net WPF app to send and receive files using a third party FTP component.</li>

                    <li>Replaced several standalone VB.Net Win Form/WPF apps with a VB.Net Silverlight app. The app enabled clerks to extract data from a SQL Server database and create an extract file. </li>

                    <li>Provided programming support for the remittance system using COBOL, Easytrieve and REXX programs.</li>
                    <li>Devised a solution to letter generation process. This saved 2.5 FTEs and generated over $100,000 in extra revenue. Wrote COBOL program to embed HP printer control commands and format text.</li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="row">
        <h1 class="mx-auto mt-0 mb-4 container-banner">Education</h1>
    </div>
    <div class="row">
        <div class="card mb-4 col-12 container-even">

            <div class="card-header">
                <div class="row">
                    <div class="card-img col-3" width="300" height="60">
                        <img class="img-fluid" src="/images/wku.png" alt="Western Kentucky University logo" />
                    </div>
                    <div class="col">
                        <div class="card-title">
                            <h3>Western Kentucky University, Bowling Green, KY</h3>
                        </div>
                        <div class="card-subtitle">
                            <h4>Bachelor of Science, Computer Science</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
           
        </div>
    </div>
</div>
